footer {
  background-color: var(--neutral-black);

  .container-footer {
    padding: 3rem 0;
    height: 100%;
    line-height: 2;

    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (min-width: 768px) {
      padding: 0;
    }

    .brands {
      padding-bottom: 2rem;
      border-bottom: var(--border-separation);
      margin-bottom: 2rem;

      display: flex;
      justify-content: center;

      @media (min-width: 640px) {
        display: block;
      }

      a {
        display: block;
        height: 100%;

        @media (min-width: 640px) {
          img {
            width: 18rem;
          }
        }
      }
    }

    .footer-info {
      display: grid;
      grid-template-columns: 1fr;

      @media (min-width: 640px) {
        grid-template-columns: 70% 30%;
      }


      .links {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (min-width: 640px) {
          display: block;
        }

        a {
          color: var(--neutral-white);
          font-weight: 700;
          font-size: 1.3rem;

          &:hover {
            color: var(--neutral-green-yellow);
          }

          @media (min-width: 640px) {
            display: inline-block;

            &::after {
              content: "|";
              margin-left: .5rem;
            }
          }
        }
      }

      .info-copry {
        margin: 2rem 0;

        @media (min-width: 640px) {
          margin-top: .5rem;
          margin: 0;
        }

        p {
          color: var(--neutral-gray-dark);
          font-size: 1.4rem;
          text-align: center;

          @media (min-width: 640px) {
            text-align: left;
          }

          span {
            margin-right: .5rem;
          }

          a {
            display: inline;
            margin-left: .5rem;
            color: var(--neutral-green-yellow);
            font-weight: 700;
          }
        }
      }
    }

    .social-networks {
      .list-icons {
        list-style: none;

        display: flex;
        justify-content: center;
        gap: 1.5rem;

        li {
          a {
            color: white;
            opacity: .5;

            &:hover {
              color: var(--primary);
            }
          }
        }
      }
    }
  }
}