.hero {
  height: 35rem;
  background-color: var(--bg-hero);

  @media (min-width: 768px) {
    & {
      height: 47rem;
    }
  }

  .hero-container {
    width: 100%;
    height: 100%;
    background: var(--hero-bg-mobile);
    background-size: auto 100%;

    position: relative;

    @media (min-width: 768px) {
      & {
        background: var(--hero-bg-desktop);
        background-size: 40%;
      }
    }

    .hero-container-info {
      width: 100%;
      height: 100%;
      text-align: center;

      display: flex;
      align-items: center;

      @media (min-width: 500px) {
        & {
          width: 75%;
          text-align: left;
        }
      }

      & > div {
        h1 {
          margin: 0;
          font-size: clamp(4.5rem, 5vw, 5.5rem);
          line-height: 1.2;
        }

        p {
          margin: 1rem 0 3rem 0;
          font-size: 1.4rem;

          @media (min-width: 768px) {
            & {
              font-size: 1.6rem;
            }
          }

          span {
            display: block;
          }
        }

        .btn-hero {
          width: 18rem;
          margin-inline: auto;

          @media (min-width: 500px) {
            & {
              margin: 0;
              width: 23rem;
            }
          }
        }
      }
    }
  }
}